.html {
  background-color: #f9f8fd;
  width: 100vw;
  height: 100vh;
}
.main {
  width: 100%;
  height: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #3d3d3f;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 80px;
  margin-top: -100px;
  color: #3d3d3f;
}


@media only screen and (max-width: 430px) and (max-height: 932px) {
  .main {
    width: 100vw;
    height: auto;
  }
  .header {
    margin-top: auto;
    font-size: 28px;
    width: 100vw;
    /* background-color: red; */
  }
  /* need to modify the css for below content */
  .services {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .listParent {
    width: 50px;
    height: 50px;
    /* background-color: red; */
  }

  .description {
    width: 430px;
  }
  /* ---- */
}
@media only screen and (min-width: 1018px) and (max-width: 1500px) {
  .header {
    margin-top: -50px;
    font-size: 68px;
  }
}
@media only screen and (min-width: 929px) and (max-width: 1017px) {
  .header {
    margin-top: -50px;
    font-size: 62px;
  }
}
@media only screen and (min-width: 782px) and (max-width: 928px) {
  .header {
    margin-top: -50px;
    font-size: 52px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 782px) {
  .header {
    margin-top: -50px;
    font-size: 36px;
  }
}
@media only screen and (min-width: 390px) and (max-width: 499px) {
  .header {
    margin-top: -25px;
    font-size: 26px;
  }
}

.navContainer h1 {
  margin-left: .5em;
  margin-right: .5em;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.services {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 50px;
  padding-left: 0;
}

.servicesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.serviceList {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
  color: #3d3d3f;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #3d3d3f;
  font-size: 36px;
  transition: color 0.3s ease, font-size 0.5s ease;
}
.link:hover {
  text-decoration: none;
  font-size: 38px;
  color: #7474da;
}
.homeLink {
  color: #3d3d3f;
  text-decoration: none;
}
.listParent {
  display: flex;
  flex-direction: column;
  width: 50vw;
  text-align: center;
  border-bottom: 1px solid #7474da;
  padding: 5%;
  margin-left: 0;
}
.webDevelopmentTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.service {
  font-size: 24px;
  color: #3d3d3f;
  transition: color 0.3s ease;
}
.service:hover {
  color: #7474da;
}
.price {
  font-size: 24px;
  margin-top: 2.5%;
  color: #3d3d3f;
}
.description {
  font-size: 18px;
  margin-top: 2.5%;
  color: #3d3d3f;
}
.modal {
  margin-top: 5%;
}


.footer {
  bottom: 0;
  width: 100%;
  text-align: center;
}

